.separator-nav, .separator-content{
    border: 1px solid #E8E8E8;
    margin: 0;
}
.separator-nav{
    width: 100%;
}
.desktop-attractions, .desktop-infros, .separator-content{
    width: 1200px;
    margin: 0 auto; /* Center horizontally */
}

.attractions-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-current{
    width: 540px;
    height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.picture-all{
    width: 100%;
    height: 100%;
    display: flex;
}
.picture-img{
    width: 100%;
    height: 100%;
    background-size: cover; /* This ensures the image covers the container */
    background-position: center;
    border-radius: 5px;
}
.previmg, .nextimg {
    width: 36px;
    height: 36px;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.previmg{
    left: 25px;
}
.nextimg{
    right: 25px;
}
.button-circle{
    text-align: center;
    position: absolute;
    bottom: 15px;
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #FFFFFF;
    opacity: 75%;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}
.active {
    background-color: #000000;
}

.profile{
    width: 600px;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 平均分配间距 */
}
.profile-name{
    font-size: 24px;
    font-weight: 700;
    color: #666666;
}
.profile-text{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.booking-form{
    background-color: #E8E8E8;
    width: 100%;
    height: 302px;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 平均分配间距 */
}
.booking-title{
    font-size: 16px;
    font-weight: 700;
    color: #666666;
}
input[type="date"] {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    font-weight: 400;

    width: 193px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.select-time{
    display: flex;
    align-items: center;
}
/* Hide the default radio button */
input[type="radio"] {
    display: none;
}
/* Create a custom radio button */
input[type="radio"] + div:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #ccc;
    vertical-align: middle;
    margin: 0 5px 0 5px;
    background-color:white;
    border-color: white;
}
/* Style for the checked state */
input[type="radio"]:checked + div:before {
    background-color: #448899; /* Change this color to the desired one */
}
/* Vertically center the text */
label {
    margin-right: 10px; /* Add some space between labels if needed */
}

.addcart-button{
    width: 154px;
    height: 36px;
    border-radius: 5px;
    border: transparent;
    background-color: #448899;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
 }

.infros-frame{
    padding: 15px;
}
.infros-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    color: #666666;
}
.infros-title{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.17px;
    color: #666666;
}

@media (max-width:1200px){
    .desktop-attractions, .navigation-section, .desktop-infros{
        width: calc(100% - 20px);
        padding: 10px;
    }
    .separator-content{
        width: calc(100% - 20px);
    }
}
@media (max-width:680px){
    /* .separator-content{
        display: none;
    } */
    .desktop-attractions, .navigation-section{
        width: 100%;
        padding: 0;
    }
    .attractions-section{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .picture-current{
        width: auto;
        height: 350px;
        padding: 0;
    }
    .profile{
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin: 0 auto; /* Center horizontally */
    }
    input[type="date"] {
        width: 60%;
    }
    input[type="radio"] + div:before {
        width: 18px;
        height: 18px;
        margin: 0 2px 0 2px;
    }
    .picture-img{
        border-radius: 0;
    }
}